# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django migrations
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/__pycache__/
*/migrations/*.py

# SQLite database
*.sqlite3
db.sqlite3

# Environment
.env
venv/
ENV/
env/
*.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled files
*.so

# Test coverage
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/
